body {
    background-color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 200px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-size: 50px;
    list-style: none;
}

nav a {
    color: white;
    background: #000;
    padding: 20px;
}

nav a:hover {
    background: white;
    color: #000;
}